/* Variables */
:root {
    --primary: #002244;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: min-content;
}

/* Custom styles */
/* Header Styles */
.bg-dark {
    background-color: linear-gradient(90deg, #2b2b74 0%, #0f0f35 75%, #0f0f35 100%) !important;
}

/* Form Styles */
.input-group {
    display: flex;
    flex-direction: column;


}

.form-input {
    width: 150%;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #555;
}




.input-group-append {
    display: block;
    text-align: center;

}

.search-button {
    width: 100%;
    height: fit-content;
}

#search-button {
    border-radius: 5px;
    background-color: rgb(30, 144, 255);
    font-size: .90rem;
}

/* History Styles */

.search-history {
    width: 100%;
    height: fit-content;
    font-size: .90rem;
    border-radius: 5px;
    background-color: lightgray;
    margin-bottom: 10px;

}

/* Today & forcast section styles */
.weather-today {
    border: 1px solid black;
    padding: 5px;
    position: relative;
}

#forecast-heading {
    margin-top: 15px;
}

.fivedayforecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-left: 15px;
    padding-right: 15px;

    width: 100%;

}

/*.no-forecast {
    grid-column: 1/6;
}*/

.eachdayforecast {
    border: 1px solid black;
    padding: 5px;
    background-color: var(--primary);
    color: white;

}